{% extends "gi/partials/base.html" %}
{% import 'gi/app/app.html' as app %}

{% block main %}
    {% with active='tareas' %}
        {% include 'gi/views/parametros/nav.html' %}
    {% endwith %}

    <div class="py-15">
        <div id="tareas-app"></div>
    </div>

{% endblock %}

{% block bottom %}
    <script>
        let tareas;
        window.addEventListener('DOMContentLoaded', (event) => {
            tareas = new app.tareas({
                target: document.querySelector('#tareas-app'),
                props: {
                    data: {{ data|tojson }},
                    serviceOptions: {{ service_options|tojson }}
                }
            });

            tareas.$on('save', (dt) => {
                submitData(dt.detail, 'post')
                    .then(res => {
                        tareas.data = res.data;
                        alert('Se han guardado las tareas exitósamente');
                    });
            });
        });
    </script>
{% endblock %}

